<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WeHub.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>94D784F1CCDB15E7EEFB5FE1D7FE2F6C79663A18</string>
				<key>dateExpires</key>
				<string>2025/5/2</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94D784F1CCDB15E7EEFB5FE1D7FE2F6C79663A18</string>
						<key>dateExpires</key>
						<string>2025/5/2</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AMPopTip.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WDE622528T</string>
						<key>name</key>
						<string>Jianxiang Yang</string>
					</dict>
					<key>versionNumber</key>
					<string>4.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94D784F1CCDB15E7EEFB5FE1D7FE2F6C79663A18</string>
						<key>dateExpires</key>
						<string>2025/5/2</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WDE622528T</string>
						<key>name</key>
						<string>Jianxiang Yang</string>
					</dict>
					<key>versionNumber</key>
					<string>5.9.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94D784F1CCDB15E7EEFB5FE1D7FE2F6C79663A18</string>
						<key>dateExpires</key>
						<string>2025/5/2</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AliyunOSSiOS.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WDE622528T</string>
						<key>name</key>
						<string>Jianxiang Yang</string>
					</dict>
					<key>versionNumber</key>
					<string>2.10.20</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94D784F1CCDB15E7EEFB5FE1D7FE2F6C79663A18</string>
						<key>dateExpires</key>
						<string>2025/5/2</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>BonMot.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WDE622528T</string>
						<key>name</key>
						<string>Jianxiang Yang</string>
					</dict>
					<key>versionNumber</key>
					<string>6.1.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94D784F1CCDB15E7EEFB5FE1D7FE2F6C79663A18</string>
						<key>dateExpires</key>
						<string>2025/5/2</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Cache.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WDE622528T</string>
						<key>name</key>
						<string>Jianxiang Yang</string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94D784F1CCDB15E7EEFB5FE1D7FE2F6C79663A18</string>
						<key>dateExpires</key>
						<string>2025/5/2</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DZNEmptyDataSet.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WDE622528T</string>
						<key>name</key>
						<string>Jianxiang Yang</string>
					</dict>
					<key>versionNumber</key>
					<string>1.8.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94D784F1CCDB15E7EEFB5FE1D7FE2F6C79663A18</string>
						<key>dateExpires</key>
						<string>2025/5/2</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DateToolsSwift_Hi.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WDE622528T</string>
						<key>name</key>
						<string>Jianxiang Yang</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94D784F1CCDB15E7EEFB5FE1D7FE2F6C79663A18</string>
						<key>dateExpires</key>
						<string>2025/5/2</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DefaultsKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WDE622528T</string>
						<key>name</key>
						<string>Jianxiang Yang</string>
					</dict>
					<key>versionNumber</key>
					<string>0.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94D784F1CCDB15E7EEFB5FE1D7FE2F6C79663A18</string>
						<key>dateExpires</key>
						<string>2025/5/2</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Differentiator.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WDE622528T</string>
						<key>name</key>
						<string>Jianxiang Yang</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94D784F1CCDB15E7EEFB5FE1D7FE2F6C79663A18</string>
						<key>dateExpires</key>
						<string>2025/5/2</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBAllocationTracker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WDE622528T</string>
						<key>name</key>
						<string>Jianxiang Yang</string>
					</dict>
					<key>versionNumber</key>
					<string>0.1.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94D784F1CCDB15E7EEFB5FE1D7FE2F6C79663A18</string>
						<key>dateExpires</key>
						<string>2025/5/2</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBMemoryProfiler.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WDE622528T</string>
						<key>name</key>
						<string>Jianxiang Yang</string>
					</dict>
					<key>versionNumber</key>
					<string>0.1.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94D784F1CCDB15E7EEFB5FE1D7FE2F6C79663A18</string>
						<key>dateExpires</key>
						<string>2025/5/2</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBRetainCycleDetector.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WDE622528T</string>
						<key>name</key>
						<string>Jianxiang Yang</string>
					</dict>
					<key>versionNumber</key>
					<string>0.1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94D784F1CCDB15E7EEFB5FE1D7FE2F6C79663A18</string>
						<key>dateExpires</key>
						<string>2025/5/2</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FCUUID.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WDE622528T</string>
						<key>name</key>
						<string>Jianxiang Yang</string>
					</dict>
					<key>versionNumber</key>
					<string>1.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94D784F1CCDB15E7EEFB5FE1D7FE2F6C79663A18</string>
						<key>dateExpires</key>
						<string>2025/5/2</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>HiIOS.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WDE622528T</string>
						<key>name</key>
						<string>Jianxiang Yang</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.9</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94D784F1CCDB15E7EEFB5FE1D7FE2F6C79663A18</string>
						<key>dateExpires</key>
						<string>2025/5/2</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Highlightr.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WDE622528T</string>
						<key>name</key>
						<string>Jianxiang Yang</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94D784F1CCDB15E7EEFB5FE1D7FE2F6C79663A18</string>
						<key>dateExpires</key>
						<string>2025/5/2</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WDE622528T</string>
						<key>name</key>
						<string>Jianxiang Yang</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.11</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94D784F1CCDB15E7EEFB5FE1D7FE2F6C79663A18</string>
						<key>dateExpires</key>
						<string>2025/5/2</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WDE622528T</string>
						<key>name</key>
						<string>Jianxiang Yang</string>
					</dict>
					<key>versionNumber</key>
					<string>7.10.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94D784F1CCDB15E7EEFB5FE1D7FE2F6C79663A18</string>
						<key>dateExpires</key>
						<string>2025/5/2</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MJRefresh.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WDE622528T</string>
						<key>name</key>
						<string>Jianxiang Yang</string>
					</dict>
					<key>versionNumber</key>
					<string>3.7.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94D784F1CCDB15E7EEFB5FE1D7FE2F6C79663A18</string>
						<key>dateExpires</key>
						<string>2025/5/2</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MXParallaxHeader.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WDE622528T</string>
						<key>name</key>
						<string>Jianxiang Yang</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94D784F1CCDB15E7EEFB5FE1D7FE2F6C79663A18</string>
						<key>dateExpires</key>
						<string>2025/5/2</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Moya.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WDE622528T</string>
						<key>name</key>
						<string>Jianxiang Yang</string>
					</dict>
					<key>versionNumber</key>
					<string>15.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94D784F1CCDB15E7EEFB5FE1D7FE2F6C79663A18</string>
						<key>dateExpires</key>
						<string>2025/5/2</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>NSObject_Rx.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WDE622528T</string>
						<key>name</key>
						<string>Jianxiang Yang</string>
					</dict>
					<key>versionNumber</key>
					<string>5.2.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94D784F1CCDB15E7EEFB5FE1D7FE2F6C79663A18</string>
						<key>dateExpires</key>
						<string>2025/5/2</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ObjectMapper_Hi.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WDE622528T</string>
						<key>name</key>
						<string>Jianxiang Yang</string>
					</dict>
					<key>versionNumber</key>
					<string>4.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94D784F1CCDB15E7EEFB5FE1D7FE2F6C79663A18</string>
						<key>dateExpires</key>
						<string>2025/5/2</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Parchment.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WDE622528T</string>
						<key>name</key>
						<string>Jianxiang Yang</string>
					</dict>
					<key>versionNumber</key>
					<string>3.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94D784F1CCDB15E7EEFB5FE1D7FE2F6C79663A18</string>
						<key>dateExpires</key>
						<string>2025/5/2</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>QMUIKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WDE622528T</string>
						<key>name</key>
						<string>Jianxiang Yang</string>
					</dict>
					<key>versionNumber</key>
					<string>4.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94D784F1CCDB15E7EEFB5FE1D7FE2F6C79663A18</string>
						<key>dateExpires</key>
						<string>2025/5/2</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ReactorKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WDE622528T</string>
						<key>name</key>
						<string>Jianxiang Yang</string>
					</dict>
					<key>versionNumber</key>
					<string>3.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94D784F1CCDB15E7EEFB5FE1D7FE2F6C79663A18</string>
						<key>dateExpires</key>
						<string>2025/5/2</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ReusableKit_Hi.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WDE622528T</string>
						<key>name</key>
						<string>Jianxiang Yang</string>
					</dict>
					<key>versionNumber</key>
					<string>3.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94D784F1CCDB15E7EEFB5FE1D7FE2F6C79663A18</string>
						<key>dateExpires</key>
						<string>2025/5/2</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Rswift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WDE622528T</string>
						<key>name</key>
						<string>Jianxiang Yang</string>
					</dict>
					<key>versionNumber</key>
					<string>5.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94D784F1CCDB15E7EEFB5FE1D7FE2F6C79663A18</string>
						<key>dateExpires</key>
						<string>2025/5/2</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxCocoa.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WDE622528T</string>
						<key>name</key>
						<string>Jianxiang Yang</string>
					</dict>
					<key>versionNumber</key>
					<string>6.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94D784F1CCDB15E7EEFB5FE1D7FE2F6C79663A18</string>
						<key>dateExpires</key>
						<string>2025/5/2</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxDataSources.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WDE622528T</string>
						<key>name</key>
						<string>Jianxiang Yang</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94D784F1CCDB15E7EEFB5FE1D7FE2F6C79663A18</string>
						<key>dateExpires</key>
						<string>2025/5/2</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxGesture.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WDE622528T</string>
						<key>name</key>
						<string>Jianxiang Yang</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94D784F1CCDB15E7EEFB5FE1D7FE2F6C79663A18</string>
						<key>dateExpires</key>
						<string>2025/5/2</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxOptional.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WDE622528T</string>
						<key>name</key>
						<string>Jianxiang Yang</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94D784F1CCDB15E7EEFB5FE1D7FE2F6C79663A18</string>
						<key>dateExpires</key>
						<string>2025/5/2</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxRelay.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WDE622528T</string>
						<key>name</key>
						<string>Jianxiang Yang</string>
					</dict>
					<key>versionNumber</key>
					<string>6.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94D784F1CCDB15E7EEFB5FE1D7FE2F6C79663A18</string>
						<key>dateExpires</key>
						<string>2025/5/2</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WDE622528T</string>
						<key>name</key>
						<string>Jianxiang Yang</string>
					</dict>
					<key>versionNumber</key>
					<string>6.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94D784F1CCDB15E7EEFB5FE1D7FE2F6C79663A18</string>
						<key>dateExpires</key>
						<string>2025/5/2</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxSwiftExt.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WDE622528T</string>
						<key>name</key>
						<string>Jianxiang Yang</string>
					</dict>
					<key>versionNumber</key>
					<string>6.2.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94D784F1CCDB15E7EEFB5FE1D7FE2F6C79663A18</string>
						<key>dateExpires</key>
						<string>2025/5/2</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxTheme.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WDE622528T</string>
						<key>name</key>
						<string>Jianxiang Yang</string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94D784F1CCDB15E7EEFB5FE1D7FE2F6C79663A18</string>
						<key>dateExpires</key>
						<string>2025/5/2</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxViewController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WDE622528T</string>
						<key>name</key>
						<string>Jianxiang Yang</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94D784F1CCDB15E7EEFB5FE1D7FE2F6C79663A18</string>
						<key>dateExpires</key>
						<string>2025/5/2</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WDE622528T</string>
						<key>name</key>
						<string>Jianxiang Yang</string>
					</dict>
					<key>versionNumber</key>
					<string>5.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94D784F1CCDB15E7EEFB5FE1D7FE2F6C79663A18</string>
						<key>dateExpires</key>
						<string>2025/5/2</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftEntryKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WDE622528T</string>
						<key>name</key>
						<string>Jianxiang Yang</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94D784F1CCDB15E7EEFB5FE1D7FE2F6C79663A18</string>
						<key>dateExpires</key>
						<string>2025/5/2</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftSVG.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WDE622528T</string>
						<key>name</key>
						<string>Jianxiang Yang</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94D784F1CCDB15E7EEFB5FE1D7FE2F6C79663A18</string>
						<key>dateExpires</key>
						<string>2025/5/2</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftSoup.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WDE622528T</string>
						<key>name</key>
						<string>Jianxiang Yang</string>
					</dict>
					<key>versionNumber</key>
					<string>2.7.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94D784F1CCDB15E7EEFB5FE1D7FE2F6C79663A18</string>
						<key>dateExpires</key>
						<string>2025/5/2</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwifterSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WDE622528T</string>
						<key>name</key>
						<string>Jianxiang Yang</string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94D784F1CCDB15E7EEFB5FE1D7FE2F6C79663A18</string>
						<key>dateExpires</key>
						<string>2025/5/2</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyBeaver.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WDE622528T</string>
						<key>name</key>
						<string>Jianxiang Yang</string>
					</dict>
					<key>versionNumber</key>
					<string>1.9.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94D784F1CCDB15E7EEFB5FE1D7FE2F6C79663A18</string>
						<key>dateExpires</key>
						<string>2025/5/2</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>TTTAttributedLabel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WDE622528T</string>
						<key>name</key>
						<string>Jianxiang Yang</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94D784F1CCDB15E7EEFB5FE1D7FE2F6C79663A18</string>
						<key>dateExpires</key>
						<string>2025/5/2</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>TagListView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WDE622528T</string>
						<key>name</key>
						<string>Jianxiang Yang</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94D784F1CCDB15E7EEFB5FE1D7FE2F6C79663A18</string>
						<key>dateExpires</key>
						<string>2025/5/2</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Toast_Swift_Hi.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WDE622528T</string>
						<key>name</key>
						<string>Jianxiang Yang</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94D784F1CCDB15E7EEFB5FE1D7FE2F6C79663A18</string>
						<key>dateExpires</key>
						<string>2025/5/2</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>UICKeyChainStore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WDE622528T</string>
						<key>name</key>
						<string>Jianxiang Yang</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94D784F1CCDB15E7EEFB5FE1D7FE2F6C79663A18</string>
						<key>dateExpires</key>
						<string>2025/5/2</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>URLNavigator_Hi.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WDE622528T</string>
						<key>name</key>
						<string>Jianxiang Yang</string>
					</dict>
					<key>versionNumber</key>
					<string>2.5.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94D784F1CCDB15E7EEFB5FE1D7FE2F6C79663A18</string>
						<key>dateExpires</key>
						<string>2025/5/2</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Umbrella.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WDE622528T</string>
						<key>name</key>
						<string>Jianxiang Yang</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94D784F1CCDB15E7EEFB5FE1D7FE2F6C79663A18</string>
						<key>dateExpires</key>
						<string>2025/5/2</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>WeakMapTable.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WDE622528T</string>
						<key>name</key>
						<string>Jianxiang Yang</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94D784F1CCDB15E7EEFB5FE1D7FE2F6C79663A18</string>
						<key>dateExpires</key>
						<string>2025/5/2</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ZipArchive.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WDE622528T</string>
						<key>name</key>
						<string>Jianxiang Yang</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>WDE622528T.com.tospery.wehub</string>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>webcredentials:github.com</string>
					<string>applinks:github.com</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>WDE622528T</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.com.tospery.shared</string>
				</array>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>WDE622528T.com.tospery.wehub</string>
					<string>WDE622528T.shared</string>
				</array>
			</dict>
			<key>name</key>
			<string>WeHub.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>91651985-1b3c-4ba2-88fe-d700da344b19</string>
				<key>dateExpires</key>
				<string>2025/5/2</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.tospery.wehub</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>WDE622528T</string>
				<key>name</key>
				<string>Jianxiang Yang</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
